:root {
    --this-role-garnet: #61113e;
    --this-role-red: #F2614E;
    --this-role-green: #34a795;
    --this-role-light: #eddec6;
    --this-role-light-rgb: 237, 222, 198;
}

.toastr {
    opacity: 1 !important;
}

.toastr.toastr-error {
    background: var(--this-role-red) !important;
}

.toastr.toastr-success {
    background: var(--this-role-green);
}

#toast-container > div {
    opacity: 1 !important;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: Poppins, sans-serif;
}

.custom-event_style {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.evt-descr {
    display: flex;
    flex-flow: row;
}

input[type=time].form-control[disabled] {
    color: #aaacb9;
}

textarea.form-control::-webkit-scrollbar {
    width: 0.75rem;
}

textarea.form-control::-webkit-scrollbar-track {
    background: #f5f8fa;
}

textarea.form-control::-webkit-scrollbar-thumb {
    background-color: #0095e8 !important;
    border-radius: 5px;
    border: none;
}

.fc-daygrid-day-events {
    cursor: pointer;
}

.end-time {
    position: relative;
    display: block;
}

span.popup {
    visibility: hidden;
    position: absolute;
    width: 360px;
    background-color: #505050;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 2000;
    top: 125%;
    right: 5%;
}

span.popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #505050 transparent;
}

span.popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tooltip {
    z-index: 9999 !important;
}

#deleteEvt {
    display: none;
}

.modal.edit #deleteEvt {
    display: block;
}

.top-2px {
    top: 2px;
}

.btn-light:not([disabled]), .btn-light:hover:not([disabled]):not(.btn-active) {
    color: var(--bs-dark);
}

#deleteEvt {
    display: none;
}

.modal.edit #deleteEvt {
    display: block;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #1e1e2d;
    box-shadow: inset 0 -1px 0 #eff2f5;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

@media (min-width: 576px) {
    #news-modal .modal-dialog {
        max-width: 75%;
    }
}

.ck-editor__main .ck.ck-content[contenteditable=false] > * {
    pointer-events: none;
}

.ck .ck-widget.non-editable {
    pointer-events: none;
}

.ck .ck-widget.non-editable:hover {
    outline: 0 transparent;
    pointer-events: none;
}

.ck .ck-widget.non-editable.ck-widget_with-selection-handle:hover .ck-widget__selection-handle,
.ck .ck-widget.non-editable.ck-widget_with-selection-handle .ck-widget__selection-handle .ck-icon .ck-icon__selected-indicator,
.ck .ck-widget.non-editable:hover > .ck-widget__type-around > .ck-widget__type-around__button,
.ck .ck-widget.non-editable.ck-widget_selected > .ck-widget__type-around > .ck-widget__type-around__button,
.ck .ck-widget.non-editable:hover > .ck-widget__type-around > .ck-widget__type-around__button {
    outline: 0 transparent;
    opacity: 0;
    pointer-events: none;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused)[contenteditable=false] {
    border: 0 transparent;
}

.ff-sarina {
    font-family: 'Sarina', cursive;
}

.ff-poiret {
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
}

.bg-garnet {
    background: var(--this-role-garnet) !important;
}

.bg-red {
    background: var(--this-role-red) !important;
}

body {
    background: rgba(var(--this-role-light-rgb), 0.05) !important;
    scroll-behavior: smooth;
}

/*
 * Scrollbar
 */
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    background: var(--this-role-garnet) !important;
}

.fa-hover-2xl:hover {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -0.1875em;
    transition: font-size 0.8s ease;
}

.fa-hover-2xl {
    transition: font-size 0.5s ease;
}

label[for=searchRule] {
    display: block !important;
    cursor: pointer;
}

@media (max-width: 420px) {
    #searchRule {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 10px;
        width: 90% !important;
        z-index: 0;
        transition: top 0.5s ease, opacity 0.3s ease;
        pointer-events: none;
    }

    #searchRule:focus {
        opacity: 1;
        top: 70px;
        transition: top 0.5s ease-out, opacity 0.8s ease-in;
        pointer-events: all;
    }
}

@media (min-width: 500px) {
    #searchRule {
        width: 250px !important;
    }
}

@media (min-width: 992px) {
    .aside {
        width: 265px;
        transition: width ease;
        position: fixed;
        left: 0;
        top: 70px;
        bottom: 0;
    }
}

a .hover-flip {
    transition: 0.75s all ease;
}

.menu-item:hover .fa.hover-flip {
    transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
    transition: all 1s ease;
}

.account-option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100%;
}

.btn.btn-primary {
    background: var(--this-role-green);
}

.btn-check:active + .btn.btn-primary, .btn-check:checked + .btn.btn-primary, .btn.btn-primary.active,
.btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active),
.btn.btn-primary:hover:not(.btn-active), .show > .btn.btn-primary {
    background: #249785 !important;
}

.bg-brush {
    background: url("/assets/appmedia/imgs/brush-1.png") no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 40px;
    width: 155px;
    transition: all 0.2s ease;
}

.account-option:hover .bg-brush.hover {
    opacity: 1;
    height: 45px;
    width: 170px;
    transition: all 0.4s ease;
}

input.this-role-input.form-control.form-control-solid {
    border: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid var(--bs-gray-400) !important;
}

.circle {
    border-radius: 50% !important;
}

@media (min-width: 992px) {
    .wrapper.Login, .wrapper.Signup {
        padding-left: 0;
    }
}

.aside .aside-menu .menu .menu-item .menu-link.hover,
.aside .aside-menu .menu .menu-item .menu-link.hover .menu-icon i,
.aside .aside-menu .menu .menu-item .menu-link.hover .menu-title {
    color: #181c32;
}

.text-hover-primary:hover, .btn-link {
    color: var(--this-role-green) !important;
}

@media (min-width: 992px) {
    .wrapper {
        padding-left: 260px;
    }
}

.text-hover-danger:hover {
    color: var(--this-role-red) !important;
}

.text-hover-success:hover, .text-primary-success:hover {
    color: var(--this-role-green) !important;
}

.edit-game {
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease;
}

.edit-game.show {
    height: 220px;
    transition: height 0.8s ease;
}

.edit-btn ~ .fa-greater-than:before {
    display: block;
    transition: all 0.6s ease;
}

.edit-btn.active ~ .fa-greater-than:before {
    transform: rotate(90deg);
    transition: all 0.8s ease;
}

@media (min-width: 1200px) {
    .aside {
        width: 300px;
    }

    .wrapper {
        padding-left: 310px;
    }

    .header > div, .wrapper:not(.Signup):not(.Login) > div {
        max-width: 1200px;
    }
}