:root {
    --this-role-garnet: #61113e;
    --this-role-red: #F2614E;
    --this-role-green: #34a795;
    --this-role-light: #eddec6;
    --this-role-lighter: #fdfcf8;
    --this-role-ocher: #cbae38;
    --this-role-blue: #515ddc;
    --this-role-light-rgb: 237, 222, 198;
    --this-role-ocher-rgb: 203, 174, 56;
}

@font-face {
    font-family: "Poiret One";
    src: url('/assets/fonts/poiret_one/PoiretOne-Regular.ttf');
}

@font-face {
    font-family: "Poppins";
    src: url('/assets/fonts/poppins/Poppins-Regular.ttf');
}

.active .text-this-role-light {
    color: var(--this-role-ocher) !important;
}

.text-this-role-light {
    color: var(--this-role-light) !important;
}

.toastr {
    opacity: 1 !important;
}

.toastr.toastr-error {
    background: var(--this-role-red) !important;
}

.toastr.toastr-success {
    background: var(--this-role-green);
}

#toast-container > div {
    opacity: 1 !important;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: Poppins, sans-serif;
}

.custom-event_style {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.evt-descr {
    display: flex;
    flex-flow: row;
}

input[type=time].form-control[disabled] {
    color: #7c7773;
}

.fc-daygrid-day-events {
    cursor: pointer;
}

.end-time {
    position: relative;
    display: block;
}

span.popup {
    visibility: hidden;
    position: absolute;
    width: 360px;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 2000;
    top: 125%;
    right: 5%;
}

span.popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #505050 transparent;
}

span.popup.show, .signup span.popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tooltip {
    z-index: 9999 !important;
}

#deleteEvt {
    display: none;
}

.modal.edit #deleteEvt {
    display: block;
}

.top-2px {
    top: 2px;
}

.btn-light:not([disabled]), .btn-light:hover:not([disabled]):not(.btn-active) {
    color: var(--bs-dark);
}

#deleteEvt {
    display: none;
}

.modal.edit #deleteEvt {
    display: block;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #1e1e2d;
    box-shadow: inset 0 -1px 0 #eff2f5;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

@media (min-width: 576px) {
    #news-modal .modal-dialog {
        max-width: 75%;
    }
}

.ck-editor__main .ck.ck-content[contenteditable=false] > * {
    pointer-events: none;
}

.ck .ck-widget.non-editable {
    pointer-events: none;
}

.ck .ck-widget.non-editable:hover {
    outline: 0 transparent;
    pointer-events: none;
}

.ck .ck-widget.non-editable.ck-widget_with-selection-handle:hover .ck-widget__selection-handle,
.ck .ck-widget.non-editable.ck-widget_with-selection-handle .ck-widget__selection-handle .ck-icon .ck-icon__selected-indicator,
.ck .ck-widget.non-editable:hover > .ck-widget__type-around > .ck-widget__type-around__button,
.ck .ck-widget.non-editable.ck-widget_selected > .ck-widget__type-around > .ck-widget__type-around__button,
.ck .ck-widget.non-editable:hover > .ck-widget__type-around > .ck-widget__type-around__button {
    outline: 0 transparent;
    opacity: 0;
    pointer-events: none;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused)[contenteditable=false] {
    border: 0 transparent;
}

.ff-sarina {
    font-family: 'Sarina', cursive;
}

.ff-poiret {
    font-family: 'Poiret One', cursive;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.bg-garnet {
    background: var(--this-role-garnet) !important;
}

.bg-red {
    background: var(--this-role-red) !important;
}

.bg-this-role-lighter {
    background: var(--this-role-lighter) !important;
}

body {
    background: rgba(var(--this-role-light-rgb), 0.05) !important;
    scroll-behavior: smooth;
}

/*
 * Scrollbar
 */
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
    background: var(--this-role-lighter);
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: var(--this-role-garnet);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover {
    background: #9d1f66;
}

.header {
    background: var(--this-role-garnet) !important;
}

.fa-hover-2xl:hover {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -0.1875em;
    transition: font-size 0.8s ease;
}

.fa-hover-2xl {
    transition: font-size 0.5s ease;
}

label[for=searchRule] {
    display: block !important;
    cursor: pointer;
}

@media (max-width: 420px) {
    #searchRule {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 10px;
        width: 90% !important;
        z-index: 0;
        transition: top 0.5s ease, opacity 0.3s ease;
        pointer-events: none;
    }

    #searchRule:focus {
        opacity: 1;
        top: 70px;
        transition: top 0.5s ease-out, opacity 0.8s ease-in;
        pointer-events: all;
    }
}

@media (min-width: 500px) {
    #searchRule {
        width: 250px !important;
    }
}

@media (min-width: 992px) {
    .aside {
        width: 300px;
        transition: width ease;
        position: fixed;
        left: 0;
        top: 70px;
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    .aside {
        width: 350px;
    }
}

a .hover-flip {
    transition: 0.75s all ease;
}

.menu-item:hover .fa.hover-flip {
    transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
    transition: all 1s ease;
}

.account-option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100%;
}

.text-primary {
    color: var(--this-role-green) !important;
}

.text-hover-primary:hover {
    color: #249785 !important;
}

.text-info {
    color: var(--this-role-blue) !important;
}

.text-hover-info:hover {
    color: #5134a7 !important;
}

.btn.btn-primary, .badge-primary {
    background: var(--this-role-green) !important;
}

.btn-check:active + .btn.btn-primary, .btn-check:checked + .btn.btn-primary, .btn.btn-primary.active,
.btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active),
.btn.btn-primary:hover:not(.btn-active), .show > .btn.btn-primary {
    background: #249785 !important;
}

.btn.btn-garnet, .badge-garnet {
    color: #fff;
    background: var(--this-role-garnet) !important;
}

.btn-check:active + .btn.btn-garnet, .btn-check:checked + .btn.btn-garnet, .btn.btn-garnet.active,
.btn.btn-garnet.show, .btn.btn-garnet:active:not(.btn-active), .btn.btn-garnet:focus:not(.btn-active),
.btn.btn-garnet:hover:not(.btn-active), .show > .btn.btn-garnet {
    background: #3b0826 !important;
}

.bg-brush {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/media/imgs/brush-1.png") no-repeat center;
    background-size: cover;
    height: 40px;
    width: 195px;
    transition: all 0.2s ease;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-size: 1.25rem;
}

.account-option:hover .bg-brush.hover {
    opacity: 1;
    height: 45px;
    width: 170px;
    transition: all 0.4s ease;
}

.this-role-form-field:not([type=checkbox]):not(textarea):not(select) {
    border: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid var(--bs-gray-400) !important;
}

.this-role-form-field:not([type=checkbox]), .this-role-form-field:focus:not([type=checkbox]) {
    background-color: rgba(var(--this-role-light-rgb), 0.1);
}

.circle {
    border-radius: 50% !important;
    shape-outside: circle();
}

@media (min-width: 992px) {
    .wrapper.unlogged {
        padding-left: 0;
    }
}

.aside .aside-menu .menu .menu-item .menu-link.hover,
.aside .aside-menu .menu .menu-item .menu-link.hover .menu-icon i,
.aside .aside-menu .menu .menu-item .menu-link.hover .menu-title {
    color: #181c32;
}

.text-hover-primary:hover, .btn-link {
    color: var(--this-role-green) !important;
}

.max-w-500px {
    max-width: 500px !important;
}

.max-w-600px {
    max-width: 600px !important;
}

.max-w-700px {
    max-width: 700px !important;
}

.max-w-800px {
    max-width: 800px !important;
}

@media (min-width: 992px) {
    .wrapper {
        padding-left: 260px;
    }
}

.text-hover-danger:hover {
    color: var(--this-role-red) !important;
}

.text-hover-success:hover, .text-primary-success:hover {
    color: var(--this-role-green) !important;
}

.edit-game {
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease;
}

.edit-game.show {
    height: 220px;
    transition: height 0.8s ease;
}

.edit-btn ~ .fa-greater-than:before {
    display: block;
    transition: all 0.6s ease;
}

.edit-btn.active ~ .fa-greater-than:before {
    transform: rotate(90deg);
    content: "\00D7";
    transition: all 0.8s ease;
}

@media (min-width: 1200px) {
    .wrapper {
        padding-left: 310px;
    }
}

.signup span.popup {
    width: 200px;
    padding: 5px;
    top: 100px;
}

.modal-dialog {
    margin-top: 100px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#user-profile > .flex-row > .flex-column > div {
    min-height: 160px;
}

input.form-control.this-role-form-field[disabled] {
    border: none !important;
}

.justify-items-center {
    justify-items: center !important;
}

.h-100vh {
    min-height: calc(100vh - 160px);
}

.editable .editable-item {
    visibility: hidden;
}

.editable.show, .editable.show .editable-item {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden !important;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-row, .flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.box-shadow-700 {
    box-shadow: 0 0 1px 0 var(--bs-gray-700);
}

.border-radius-5px {
    border-radius: 5px;
}

.icon-success, .icon-error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.icon-success {
    border: 2px solid var(--this-role-green);
    color: var(--this-role-green);
    box-shadow: 0 0 3px 0 #10574c
}

.icon-error {
    border: 2px solid var(--this-role-red);
    color: var(--this-role-red);
    box-shadow: 0 0 3px 0 var(--this-role-garnet);
}

.icon-success::after {
    content: "\2713";
}

.icon-error::after {
    content: "\00D7";
}

@media (min-width: 992px) {
    .container-fluid {
        padding: 0 65px !important;
    }
}

a.btn-link:hover, .btn-link:hover {
    text-decoration: underline !important;
}

.text-center * {
    text-align: center !important;
}

.overflow-transition {
    display: block !important;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.overflow-transition.show {
    overflow: visible;
    transition: all 0.3s ease;
}

@media (min-width: 750px) {
    .d-lg-table-cell {
        display: table-cell !important;
    }
}

@media (max-width: 300px) {
    .fs-xxs-8 {
        font-size: .85rem !important
    }

    .px-xxs-1 {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
}

.game .container-fluid {
    padding: 0 10px 10px !important;
}

.game-header {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.game-header > .dices-container {
    width: calc(100vw - 50px);
    padding: 0.5rem;
}

.dices-container > .dices-flex-content {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    gap: 7px;
    border-radius: 8px;
}

.dice-roll {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dice-roll > * {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.dice-roll .roll {
    width: 100%;
}

.dice-roll .roll, .dice-roll .roll input {
    font-size: .85rem !important;
}

.dice-roll button.btn.dice {
    padding: 0 !important;
    box-shadow: #555555 0 0 2px 0 !important;
    transition: all 0.75s ease;
}

.dice-roll, .btn.dice {
    width: 20px;
}

.btn.dice {
    height: 20px;
}

.dice-roll button.btn.dice:hover {
    box-shadow: #555555 0 0 2px 1px !important;
    transition: all 1s ease;
}

/*********************************************
 ******************* DICES *******************
 *********************************************/
@media (min-width: 1px) {
    .dice.d4 {
        background: url("/assets/media/games/dices/d4/d4.svg") no-repeat center center;
        background-size: contain;
    }

    .dice.d6 {
        background: url("/assets/media/games/dices/d6/perspective-dice-six.svg") no-repeat center center;
        background-size: contain;
    }

    .dice.d8 {
        background: url("/assets/media/games/dices/d8/dice-eight-faces-eight.svg") no-repeat center center;
        background-size: contain;
    }

    .dice.d10 {
        background: url("/assets/media/games/dices/d10/d10.svg") no-repeat center center;
        background-size: contain;
    }

    .dice.d12 {
        background: url("/assets/media/games/dices/d12/d12.svg") no-repeat center center;
        background-size: contain;
    }

    .dice.d20 {
        background: url("/assets/media/games/dices/d20/dice-twenty-faces-twenty.svg") no-repeat center center;
        background-size: contain;
    }

    .dice.d100 {
        background: url("/assets/media/games/dices/d100/d100.png") no-repeat center center;
        background-size: contain;
    }
}

@media (min-width: 349px) {
    .dice-roll, .btn.dice {
        width: 30px;
    }

    .btn.dice {
        height: 30px;
    }
}

@media (min-width: 540px) {
    .dices-container > .dices-flex-content {
        padding-bottom: 0.75rem;
    }

    .this-table-margin {
        margin-top: 0.5rem;
    }

    .dice-roll {
        width: 35px;
    }

    .dice-roll button.btn.dice {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 768px) {
    .game-header > .dices-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .this-table-margin {
        margin-top: 2rem;
    }

    .dice-roll {
        width: 45px;
    }

    .dice-roll button.btn.dice {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 992px) {
    .game-header {
        justify-content: flex-end;
    }

    .game-header > .dices-container {
        width: calc(100vw - 300px);
        padding: 0 20px 0 25px;
    }

    .dices-container > .dices-flex-content {
        border-radius: 0 0 10px 10px;
        justify-content: center;
        gap: 20px;
    }

    .dice-roll .roll, .dice-roll .roll input {
        font-size: .95rem !important;
    }

    .this-table-margin {
        margin-top: 0 !important;
    }

    .game .container-fluid {
        padding: 0 20px 10px 65px !important;
    }
}

@media (min-width: 1200px) {
    .game-header > .dices-container {
        width: calc(100vw - 350px);
    }
}

body.game {
    background-color: #F1EBE5 !important;
}

body.game .aside {
    border-radius: unset;
    z-index: 2040;
}

@media (min-width: 992px) {
    body.game .aside {
        z-index: 2000;
    }
}

.nav-tabs .nav-item a.nav-link i {
    font-size: 1.3rem;
}

@media (min-width: 1080px) {
    .nav-tabs .nav-item a.nav-link i {
        font-size: 1.6rem;
    }
}

.game .nav-line-tabs {
    background: var(--this-role-lighter);
}

.game .nav-line-tabs .nav-item .nav-link.active {
    border-bottom: 1px solid var(--this-role-ocher);
}

.nav-link {
    color: #a1a5b7;
}

.game .nav-line-tabs .nav-item .nav-link:hover:not(.disabled),
.game .nav-line-tabs .nav-item.show .nav-link,
.game .nav-line-tabs .nav-item .nav-link.active,
.game .nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
    border-bottom: 1px solid rgba(var(--this-role-ocher-rgb), 0.6);
}

.dropdown.show > .form-control.form-control-solid.this-role-form-field,
.form-control.form-control-solid.this-role-form-field.active,
.form-control.form-control-solid.this-role-form-field.focus,
.form-control.form-control-solid.this-role-form-field:active,
.form-control.form-control-solid.this-role-form-field:focus {
    background: #f5f0ed;
    color: var(--bs-dark);
}

textarea.form-control.form-control-solid.this-role-form-field {
    background: rgba(var(--this-role-light-rgb), 0.2);
    border-color: rgba(var(--this-role-light-rgb), 0.4);
    resize: none;
}

.dropdown.show > textarea.form-control.form-control-solid.this-role-form-field,
textarea.form-control.form-control-solid.this-role-form-field.active,
textarea.form-control.form-control-solid.this-role-form-field.focus,
textarea.form-control.form-control-solid.this-role-form-field:active,
textarea.form-control.form-control-solid.this-role-form-field:focus {
    background: rgba(var(--this-role-light-rgb), 0.4);
    border-color: rgba(var(--this-role-light-rgb), 0.5);
}

.svg-icon.svg-icon-0 svg {
    height: 2rem !important;
    width: 2rem !important;
}

@media (min-width: 768px) {
    .svg-icon.svg-icon-0 svg {
        height: 3rem !important;
        width: 3rem !important;
    }
}

.chat-container {
    height: calc(100vh - 50px);
    justify-content: space-between;
}

.chat-bubble {
    justify-self: flex-end;
}

.this-game {
    border-radius: 10px;
}

@media (max-width: 400px) {
    .card-body {
        padding: 1rem;
    }
}

.chat-messages {
    display: flex;
    flex-direction: column-reverse;
}

.chat-messages .menu-item {
    border-bottom: 1px solid var(--bs-gray-200);
}

.game .modal-backdrop.fade.show {
    z-index: 2100;
}

.game .modal.fade.show {
    z-index: 2101;
}

.game .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
}

.float-left {
    float: left !important;
}

.text-italic {
    font-style: italic !important;
}

.journal_item_modal {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1990;
    width: 866px;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    border-radius: 10px;
    box-shadow: var(--bs-gray-600) 0 0 5px -2px;
}

.journal_item_modal.show {
    display: block;
}

.journal_item_modal .modal-content {
    height: 100%;
    background: var(--bs-white);
}

.journal_item_modal .modal-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.game label[for=item_title] {
    cursor: move;
}

.game .journal_item_modal .this-role-form-field {
    line-height: 17px;
    border-bottom: 1px solid var(--bs-gray-300);
}

.game .journal_item_modal .this-role-form-field:not(.game .journal_item_modal .this-role-form-field:focus):not([type=checkbox]) {
    background: transparent;
}

.this-outline {
    border: 1px solid var(--this-role-light);
    border-radius: 0.75rem;
}

.this-double-outline {
    padding: 0.5rem;
    border: 1px solid var(--this-role-light);
    border-radius: 0.25rem;
    outline: 1px solid var(--this-role-light);
    outline-offset: 3px;
}

.combat-item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-weight: 600;
    padding: 0;
}

.combat-item-sm {
    width: 25px;
    height: 25px;
}

.combat-item input {
    width: 40%;
}

.combat-item input.this-score {
    width: 18px;
    border: none;
}

.combat-item_title, .combat-item_content {
    text-align: center;
}

.combat-item_title {
    font-size: 8px !important;
}

.combat-item_content {
    font-size: 16px;
}

.this-ca {
    background: url("/assets/media/games/journal/this-ca.png") center center no-repeat;
    background-size: cover;
}

.this-outline label {
    font-size: 0.85rem;
}

.this-outline .form-control {
    padding: 0;
}

.nav-link:focus, .nav-link:hover {
    color: var(--this-role-garnet);
}

.symbol.icon-hover {
    cursor: pointer;
}

.symbol.icon-hover .icon-hover-label ~ .symbol-label {
    transition: all 0.6s ease;
}

.symbol.icon-hover .icon-hover-label {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.6s ease;
}

.symbol.icon-hover:hover .icon-hover-label {
    opacity: 1;
    z-index: 2020;
    transition: all 0.4s ease;
}

.symbol.icon-hover:hover .icon-hover-label ~ .symbol-label {
    opacity: 0.5;
    transition: all 0.4s ease;
}

.modal-content.bg-white > .modal-body {
    background: white;
}

.top-15px {
    top: 15px;
}

.top-65px {
    top: 65px;
}

.top-100px {
    top: 100px;
}

.top-110px {
    top: 110px;
}

.top-120px {
    top: 120px;
}

.top-130px {
    top: 130px;
}

.top-140px {
    top: 140px;
}

.score-prof, .skill-prof {
    height: 15px !important;
    width: 15px !important;
}

.w-120px {
    width: 120px !important;
}

.hit_points {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 160px;
    height: 70px;
    padding: 0.5rem;
    border-radius: 2rem;
}

.hit_points.hit_points-sm {
    position: absolute;
    top: 65px;
    width: 80px;
    height: 50px;
    padding: 0.25rem;
    background: #fff;
    border-radius: 2.75rem;
}

.hit_points.hit_points-sm label {
    font-size: 0.65rem !important;
}

.w-180px {
    width: 180px;
}

.justify-self-end {
    justify-self: flex-end;
}

.overflow-y-scroll {
    overflow-y: scroll;
}