/*
 * =====================================================================================================================
 * CSS Reset
 * =====================================================================================================================
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Sarina;
    src: url('../fonts/Sarina-Regular.ttf');
}

/*
 * =====================================================================================================================
 * Constants
 * =====================================================================================================================
 */

:root {
    --cyan: #34a795;
    --orange: #f2614e;
    --garnet: #61113e;
    --ocher: #cbae38;
    --light: #eddec6;
    --dark: #1e1d1b;
    --white: #ffffff;
    --black: #000000;
    --primary: var(--cyan);
    --secondary: var(--garnet);
    --serif: serif;
    --sans-serif: sans-serif;
    --mono: mono;
    --sarina: Sarina
}

/*
 * =====================================================================================================================
 * Normalizing rules
 * =====================================================================================================================
 */
body, a, a:visited, a:focus, a:active {
    font-size: 12px;
    font-family: var(--sans-serif), sans-serif, SansSerif;
    color: var(--dark);
    text-decoration: none;
}

body {
    background: var(--white);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    font-family: Sarina, serif, Serif;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 28px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 16px;
}

.bg-primary {
    background: var(--primary);
}

.bg-garnet {
    background: var(--garnet);
}

.bg-light {
    background: var(--light) !important;
}

.text-light {
    color: var(--light);
}

/*
 * =====================================================================================================================
 * Display options
 * =====================================================================================================================
 */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.d-grid {
    display: grid;
}

.d-inline-grid {
    display: inline-grid;
}

/* Display options queries for medium screen */
@media (min-width: 600px) {
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-flex {
        display: flex;
    }

    .d-md-inline-flex {
        display: inline-flex;
    }

    .d-md-grid {
        display: grid;
    }

    .d-md-inline-grid {
        display: inline-grid;
    }
}

/* Display options queries for large screen */
@media (min-width: 920px) {
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline-block {
        display: inline-block;
    }

    .d-lg-flex {
        display: flex;
    }

    .d-lg-inline-flex {
        display: inline-flex;
    }

    .d-lg-grid {
        display: grid;
    }

    .d-lg-inline-grid {
        display: inline-grid;
    }
}

/*
 * =====================================================================================================================
 * Flex options
 * =====================================================================================================================
 */

.d-flex.cols-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
}

.d-flex .col-1 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*
 * =====================================================================================================================
 * Grid options
 * =====================================================================================================================
 */
.d-grid {
    display: grid;
}

.d-grid.cols-1 {
    grid-template-columns: 1fr;
}

.d-grid.cols-2 {
    grid-template-columns: 1fr 1fr;
}

.d-grid.cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.d-grid.cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.d-grid.cols-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.d-grid.cols-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

@media (min-width: 600px) {
    .d-grid.cols-md-1 {
        grid-template-columns: 1fr;
    }

    .d-grid.cols-md-2 {
        grid-template-columns: 1fr 1fr;
    }

    .d-grid.cols-md-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .d-grid.cols-md-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .d-grid.cols-md-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .d-grid.cols-md-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 920px) {
    .d-grid.cols-lg-1 {
        grid-template-columns: 1fr;
    }

    .d-grid.cols-lg-2 {
        grid-template-columns: 1fr 1fr;
    }

    .d-grid.cols-lg-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .d-grid.cols-lg-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .d-grid.cols-lg-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .d-grid.cols-lg-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/*
 * =====================================================================================================================
 * Main Header
 * =====================================================================================================================
 */
nav {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 4fr 2fr;
    align-content: center;
    padding: 10px;
}

/*main-header w-100 bg-garnet text-light d-flex p-2*/